<%- include('partials/header') %>
<header>
  <h1>Welcome, <%= user ? user.name : "friend" %></h1>
    <div>
      <img src="../../images/gifs/f4.webp">
  </div>
  <p id="welcome">
    Welcome! Take a swim around our site to view and learn about the different marine fish available for your tank. Share your current tank stock as well as add to it in our fish store. Visit our Q & A page where you can discuss and comment with other enthusiasts on any questions, thoughts, or concerns you may have. Our fish store selection is constantly expanding so feel free to dive in every so often to see what new marine friends we have available!
  </p>
</header>


  
<%- include('partials/footer') %>
