<%- include('partials/header') %>
<header>
  <h1>Welcome, <%= user ? user.name : "friend" %></h1>
    <div>
      <img src="../../images/gifs/fishtank.gif" alt="empty tank">
  </div>
</header>

  
</body>
<%- include('partials/footer') %>
