html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 85%
}


body {
  background-image: url(../images/deep-ocean-background.jpeg);
  font-family: 'Comic Neue', cursive;;
  display: grid;

}

nav {
  background-color: white;
  font-size: 1.9rem;
}
.navbar-brand {
  font-size: xx-large;
}

main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-template-rows: 350px auto 80px; 
  column-gap: 40px;
  row-gap: 20px;
  margin: auto;

}

#fishcard{
 height: 65rem;
 justify-content: center;
 margin: auto;
 background-image: linear-gradient(to left bottom, #cddcdc, #b5cfd0, #9cc2c5, #83b6ba, #68a9b0, #5da7b0, #51a5b0, #44a3b0, #49abba, #4db3c4, #52bcce, #57c4d8);
 border-color: black;
 border-width: 0.5rem;
 color: blanchedalmond;
}

header{
  display: grid;
  text-align: center;
}

button{
  height: 40px;
} 

.btn {
  font-size: small;
  width: fit-content;
  text-align: center;
  justify-self: center;
  padding-bottom: 0.3rem;
}


input:hover{
  background-color: white;
}

input{
  border-radius: 10%;
  height: 60px;
  text-align: center;
  background-color:orange;
  border: 0 20px;
}

#profile{
  border-color: black;
  border-width: 0.5rem;
  margin: auto;
  text-align: center;
  background-image: radial-gradient(circle, #e3dd98, #e6dfa7, #e8e2b5, #eae4c3, #ebe7d2, #eae5cc, #e8e4c6, #e7e2c0, #e3dba4, #ded488, #d9cd6c, #d4c64d);
}

#profilepic{
  border-radius: 40%;
  border: 2px solid blanchedalmond;
}

#messages{
  max-width:800px;
}

#messageboard{
display: block;
margin: 0 600px;
align-content: center;
}
#reply{
  display: block;
  margin: 0 600px;
  align-content: center;
  }

#questionbutton{
  margin: auto;
}

#profilepage{
  background-image:url(../images/fishbackground3.jpeg);
}

#fishimg{
  border-radius: 20%;
  border: 2px solid black;
}

#addtotank{
  text-align: center;
}
#addbtn{
  margin-bottom: 2rem;
}