<%- include('../partials/header') %> 
<header>
    <form action="/users/index" method="GET">
         <button class="header-button" type="submit">Return To All User's Profiles</button>
    </form>
</header>
    <main>
        <% if(user.fishcollection.length === 0){ %>
            <div>
                <img src="../../images/gifs/empty.gif" alt="empty tank">
            </div>
            
            <% } else { %>
        <% user.fishcollection.forEach((f)=>{ %>
            <div id = "smallfishcard" class="card text-center shadow p-3 mb-5 bg-white rounded m-3" style="width: 18rem;">
                <img id= "fishimg" src="<%= f.imageUrl %>" class="card-img-top" alt="fish-image">
                <div class="card-body">
                    <h5 class="card-title"><%= f.species %></h5>
                </div>
            </div>   
        <% })%>
    <% }%> 
    
<%- include('../partials/footer') %> 
