<%- include('../partials/header') %> 
<header>
    <h1>Add Fish To Database</h1>
 <form id="add-fish-form" action="/fish/new" method="POST"><br>
    <input type="text" placeholder="Species" name="species"><br>
    <input type="text" placeholder="Description" name="description"><br>
    <input type="text" placeholder="Image Url" name="imageUrl"><br>
    <input type="text" placeholder="Care" name="care"><br>
    <input type="text" placeholder="Tank Size" name="tankSize"><br>
    <button class="btn btn-success" type="submit">Add Fish</button>
</form>
</header>
<%- include('../partials/footer') %> 